<template lang="pug">
    div
        p 公式APIの変更により、プレイヤーの曲のクリア状況やイベントのランキングを検索できなくなりました。Project Sekai Profile（profile.pjsekai.moe）は近日中に閉鎖されます。ご利用いただきありがとうございました。

</template>

<script>
export default {
  name: 'Notice',

};
</script>